* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #F9FAF8; 
    /* padding: 30px; */
}


.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-top: 20px;
    padding-left: 210px;
    padding-right: 210px;
}

.headertop, .headerbottom{
    display: flex;
    
}

.heroimg >img {
    width: 660px;
    height: 280px;
    margin-left: -800px;
    padding-bottom: 50px;
}

.headertop >logo {
    font-weight: bolder;
}

.headertop {
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 40px;
    height: 100px;
}

.headerbottom {
    padding-top: -80px;
}

.headerleft {
    display: flex;
    flex-basis: 1400px;
    flex-direction: column;
}

.headerright {
    /* padding: 60px; */
    margin-left: 500px;
}

.button1 >button {
    background-color: #3882F6;
    width: 80px;
    height: 26px;
    border-radius: 8px;
}

ul {
    display: flex;
    text-decoration: none;
    gap: 16px;
    margin-right: 140px;
    /* padding-right: 50px; */
}