* {
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none; */
    color: #F9FAF8; 
}
 
.header {
    display: flex;
    position: relative;
    justify-content: center;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-top: 10px;
}

.headertop {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    margin-bottom: 110px;
    gap: 530px;
    justify-content: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.headertoplinks{
    align-self: center;
}

ul {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
}

a {
    color: #E5E7EB;
}

.headerbottom {
    display: flex;
    gap: 350px;
    margin-bottom: 100px;
    color: #F9FAF8;
    flex-basis: 1300px;
    margin-right: 130px;
}

.headerleft {
    margin-left: 170px;
    display: flex;
    flex-wrap: wrap;
}

.subtitle {

}

.button1 >button {
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    width: 80px;
    height: 26px;
    border-radius: 8px;
    margin-top: 5px;
}

.heroimg >img {
    width: 500px;
    height: 230px;
}

#info {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: columns;
    flex-wrap: wrap;
}

.infohead {
    display: flex;
    order: -1;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-basis: 100%;
}

.infocontainer {
    display: flex;
    /* width: 200px;
    gap: 40px;
    margin-left: 725px; */
    justify-content: center;
    gap: 48px;
    margin-bottom: 100px;
    
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box >img {
    width: 160px;
    height: 150px;
    border-radius: 10px;
    flex-basis: 100%;
    width: 50px;

}

.quotewrapper {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    position: relative;
    height: 330px;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.thor {
    font-size: 26px;
    font-weight: bolder;
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;
}

.callwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 100%; No effect */
    height: 330px;
}

.callbox {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 120px;
    border-radius: 10px;
}

.calltext >span >h2 {
    color: #F9FAF8;
}

.calltext >span {
    color: #E5E7EB;
}

.callbutton >button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 80px;
    height: 26px;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
    height: 70px;

}