* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    /* color: #F9FAF8;  */
    /* padding: 30px; */
}


.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-top: 20px;
    padding-left: 210px;
    padding-right: 210px;
    
}

.headertop, .headerbottom{
    display: flex;
    color: #F9FAF8;
    
}

.heroimg >img {
    width: 660px;
    height: 260px;
    margin-left: -880px;
    margin-bottom: 50px;
}

.headertop >logo {
    font-weight: bolder;
}

.headertop {
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 40px;
    height: 100px;
    width: 1200px;
}

.headerbottom {
    padding-top: -80px;
}

.headerleft {
    display: flex;
    flex-basis: 1400px;
    flex-direction: column;
}

.headerright {
    /* padding: 60px; */
    margin-left: 500px;

}

.button1 >button {
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    width: 80px;
    height: 26px;
    border-radius: 8px;
    margin-top: 5px;
}

ul {
    display: flex;
    text-decoration: none;
    gap: 16px;
    color: #F9FAF8;
    /* padding-right: 50px; */
}

a {
    color: #F9FAF8;
}

#info {
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
    flex-direction: columns;
    flex-wrap: wrap;
}

.infohead {
    display: flex;
    order: -1;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-basis: 100%;
}

.infocontainer {
    display: flex;
    /* width: 200px;
    gap: 40px;
    margin-left: 725px; */
    justify-content: center;
    gap: 48px;
    
}
.box {
    display: flex;
    flex-wrap: wrap;
}

.box >img {
    width: 160px;
    height: 150px;
    border-radius: 10px;
    flex-basis: 100%;
    width: 50px;

}

.quotewrapper {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    position: relative;
    height: 330px;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.thor {
    font-size: 26px;
    font-weight: bolder;
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;
}

.callwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 100%; No effect */
    height: 330px;
}

.callbox {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 120px;
    border-radius: 10px;
}

.calltext >span >h2 {
    color: #F9FAF8;
}

.calltext >span {
    color: #E5E7EB;
}

.callbutton >button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 80px;
    height: 26px;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
    height: 70px;

}